{% extends 'base.html' %}
{% load static %}
{% block body %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">

<!-- ============================ COMPONENT LOGIN   ================================= -->
	<div class="card mx-auto" style="max-width: 500px; margin-top:100px;">
      <div class="card-body">
           {% if messages %}

          {% for message in messages %}
			  <div id="mes" class="container">
              <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %} role="alert">
				  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
              {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
              {{ message }}
              </div>
			  </div>
		  {% endfor %}

		  {% endif %}
      <h4 class="card-title text-center mb-4">Change password</h4>
      <form action="{% url 'changePassword' %}" method="post">
          {% csrf_token %}
          <div class="form-group">
			 <input type="password" class="form-control" name="current_password" placeholder="Current password" >
          </div> <!-- form-group// -->
          <div class="form-group">
			<input type="password" class="form-control" name="new_password" placeholder="New password" >
          </div> <!-- form-group// -->
          <div class="form-group">
			<input type="password" class="form-control" name="conf_password" placeholder="Confirm Password" >
          </div> <!-- form-group// -->


          <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block"> Save </button>
          </div> <!-- form-group// -->
      </form>
      </div> <!-- card-body.// -->
    </div> <!-- card .// -->

<!--     <p class="text-center mt-4">Don't have account? <a href="/account/register/">Register</a></p>-->
     <br><br>
<!-- ============================ COMPONENT LOGIN  END.// ================================= -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}